html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  font-family: Lora,sans-serif;
  background-image : url("Take2.jpg");
  background-size:cover;
}

    



    

